* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #cccccc7d;
    font-family: "Montserrat", sans-serif;
}
.container {
    width: 700px;
    min-height: 300px;
    padding: 50px;
    margin: 100px auto;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px  0 rgba(143, 137, 137, 0.3);
}
@media (max-width : 767px ){
    .container{
        width: 100%;
    }
    h1{
    font-size: 39px;
    }
}
h1 {
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
form input[type="date"] {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: .3s;
}
button:hover {
    background-color: #0062cc;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
  }